.main {
  height: 100vh;
}
.poppins {
  font-family: Poppins;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-weight: 500;
  font-family: Poppins;
  gap: 2rem;
  position: relative;
}

.heading {
  /* font-size: 10rem; */
  font-size: clamp(60px, 15vw, 160px);
}
.small_heading {
  font-size: 1.4rem;
  letter-spacing: 0.5rem;
}

.part_two_sec {
  display: flex;
  justify-content: center;
  background-color: var(--black);
  padding: 5rem 0rem;
}

.part_two {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  width: 80vw;
}

.box1,
.box2 {
  grid-column: span 1;
}
.box3 {
  grid-column: span 2;
}

.general_box {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 1px;
  cursor: pointer;
  backdrop-filter: blur(2px);
  position: relative;
  overflow: hidden;
}

.general_box::before,
.general_box > .box_border {
  border-radius: inherit;
  content: "";
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 500ms;
  height: 100%;
  top: 0px;
  left: 0px;
}

.general_box::before {
  background: radial-gradient(
    900px circle at var(--mouse-x, 50%) var(--mouse-y, 50%),
    rgba(255, 255, 255, 0.1),
    transparent 40%
  );
  z-index: 3;
}

.general_box > .box_border {
  background: radial-gradient(
    450px circle at var(--mouse-x, 50%) var(--mouse-y, 50%),
    rgba(255, 255, 255, 0.3),
    transparent 40%
  );
  z-index: -1;
}
.general_box:hover::before,
.general_box:hover > .box_border {
  opacity: 1;
}

.general_box > .box_content {
  background-color: var(--box-color);
  border-radius: 8px;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  position: relative;
  margin: 1px;
  display: flex;
  flex-direction: column;
  color: var(--white);
  gap: 1rem;
  padding: 1rem;
  line-height: 30px;
  font-size: 1.05rem;
}
.box_heading {
  font-size: 1.3rem;
}
.box_content > div > span {
  display: block;
  font-weight: 900;
  margin-top: 15px;
  font-size: 2.3rem;
}

.part_three {
  height: 100vh;
  color: var(--white);
  position: relative;
  padding-top: 5rem;
  overflow: hidden;
  background-image: linear-gradient(
    to top,
    var(--transparent) 10%,
    var(--black)
  );
}
.intern_content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.intern_content > .intern_heading > span {
  display: block;
  font-weight: 900;
  font-size: 5rem;
  background-image: linear-gradient(
    45deg,
    #ca4246 16.666%,
    #e16541 16.666%,
    #e16541 33.333%,
    #f18f43 33.333%,
    #f18f43 50%,
    #8b9862 50%,
    #8b9862 66.666%,
    #476098 66.666%,
    #476098 83.333%,
    #a7489b 83.333%
  );
  background-size: 100%;
  background-clip: text;
  background-repeat: repeat;
  -webkit-text-fill-color: transparent;
}

.intern_content > .intern_heading > span:hover {
  animation: rainbow-text-simple-animation 0.75s ease forwards;
}

.intern_content > .intern_heading > span:not(:hover) {
  animation: return-to-original 0.75s ease forwards;
}

@keyframes rainbow-text-simple-animation {
  0% {
    background-size: 100%;
  }
  80% {
    background-size: 650%;
  }
  100% {
    background-size: 650%;
  }
}

@keyframes return-to-original {
  0% {
    background-size: 650%;
  }
  100% {
    background-size: 100%;
  }
}

.intern_heading {
  display: block;
  margin: auto;
  width: 50%;
  text-align: center;
  line-height: 80px;
  position: relative;
  font-size: 1.7rem;
}

.intern_body {
  font-family: poppins;
  position: absolute;
  width: 50%;
  margin: auto;
  padding: 1.4rem;
  font-size: 1.2rem;
  line-height: 50px;
  top: 30%;
  left: 25%;
}

.intern_body::before {
  content: "";
  position: absolute;
  z-index: -9;
  width: 100%;
  height: 100%;
  background: #ffffff15;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  left: 0%;
  top: 0%;
}
